.footer {
  width: 100%;
  margin-top: auto;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    @media (max-width: 430px) {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__copyright {
    display: flex;
    gap: 20px;
    color: $main-color;

    &-github {
      color: $darkBlue-color;
      text-decoration: none;
      transition: 0.5s;

      &:hover {
        transition: 0.5s;
        color: $main-color;
      }
    }
  }

  &__logo {
    transition: 0.5s;

    filter: $blue-filter;
    width: 115px;
    height: 50px;
    background-image: url("../assets/img/rss.svg");
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      transition: 0.5s;
      filter: $white-filter;
    }
  }
}
