$main-color: #ffffff;
$black-color: #000000;
$blue-color: #58afd1;
$blue-filter: brightness(0) saturate(100%) invert(63%) sepia(35%) saturate(607%)
  hue-rotate(151deg) brightness(95%) contrast(87%);
$pink-color: #cd93ff;
$pink-filter: brightness(0) saturate(100%) invert(60%) sepia(87%)
  saturate(1301%) hue-rotate(215deg) brightness(102%) contrast(107%);
