$main-color: #ffffff;
$white-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%)
  hue-rotate(69deg) brightness(107%) contrast(101%);
$darkBlue-color: #0156a4;
$blue-filter: brightness(0) saturate(100%) invert(40%) sepia(52%)
  saturate(3879%) hue-rotate(160deg) brightness(92%) contrast(102%);
$blue-color: #0094a7;
