@import "base/_mixins.scss";
@import "base/_variables.scss";

@import "blocks/_header.scss";
@import "blocks/_main.scss";
@import "blocks/_footer.scss";
@import "blocks/_modal.scss";

* {
  font-family: "Redressed", cursive;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.body {
  background-image: url("../assets/img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}
